
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/aboutUs.css" />
		<script src="/js/jquery-1.11.0.js"></script>

		<div class="about_header">
			<div>
				<b class="hx"></b><span>关于我们</span>
			</div>
		</div>
		<div class="about_article">
			<div class="about_us2"><img src="images/aboutUs/ab_logo.png" alt="" /></div>
			<div>
				<h1>我们是郑州‘攻城狮’团队</h1>
				<b class="xhx"></b>
				<p>郑州‘攻城狮’团队于2014年5月21日盛装开业!维护性强的代码架构和紧跟时代步伐的更新体制，全面高端、个性化的配套设施，最新流行H5新特性， 全方位的凸显网站产品内容，彰显细节，带给即将进入网站浏览商品的顾客以流畅、强烈的感官体验· 河南科技学院团队由数位行业内认真工作、 功底扎实团队携手为您度身定做网站模板，完美记录您的'网业'。“细致，诚恳的服务态度;活跃，激昂的创新意识;苛刻，刁钻的审美角度。 ”将会指导着原创网页不断的累积及沉淀。秉承“以服务为本，顾客至上”的理念，坚持优化配置原则，打造用户体验最好网页。
				</p>
				<br />
				<p>从接待、制作到后期维护，每一个环节都精雕细琢;抛弃一切浮夸骄作而执着于每件作品;用心服务和您一起管理您的'网业'; 坚持不懈推陈出新，让您网站的独特一直持续。</p>
				<br />
				<p>“您的满意是我们的终极追求”是郑州‘攻城狮’团队秉承的经营理念，后期跟踪式的服务，创新元素居多的设计走向，总能抓住众人兴致的目光，打造属于顾客独有的风格及迷人风采! 郑州‘攻城狮’团队采用的硬件设施，凌驾工作室的个性服务，这一切，您在郑州‘攻城狮’团队都能实现，我们凭借着自身敏锐的触觉以及市场网页更新设计的趋势，一定会成为郑州个人网页制作工作室更专业化， 高端化的网页制作品牌。
				</p>
				<br /><br /><br />
			</div>

		</div>
		
		<div class="bggd">
			<div>
				<div><img src="images/aboutUs/heart.png" /></div>
				<div>
					<h3>“Better to have designed and dreamed, than to have never tried(try)</h3></div>
				<div>
					<br />
					<p>~ ZHENGZHOU OF HE NAN ~</p>
				</div>
			</div>
		</div>
		<div class="team_mates">
			<h1>郑州‘攻城狮’团队成员</h1>
			<b class="xhx"></b>
			<div class="clearfloat">
				<div>
					<ul>
						<li class="engineer engineer1">
							<div class="white_circle"><img src="images/aboutUs/lianjie.png" alt=""></div>
						</li>
						<li>张培荣</li>
						<li>web前端工程师</li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="engineer engineer2">
							<div class="white_circle"><img src="images/aboutUs/lianjie.png" alt=""></div>
						</li>
						<li>康恒</li>
						<li>web前端工程师</li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="engineer engineer3">
							<div class="white_circle"><img src="images/aboutUs/lianjie.png" alt=""></div>
						</li>
						<li>李鹏辉</li>
						<li>web前端工程师</li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="engineer engineer4">
							<div class="white_circle"><img src="images/aboutUs/lianjie.png" alt=""></div>
						</li>
						<li>张春雷</li>
						<li>web前端工程师</li>
					</ul>
				</div>
			</div>
		</div>
