
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/contactUs.css" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VWaNfQyFKkeNP1g148zuNeul"></script>

		<article>
			<section>
				<div id="container_one">
					<div><img src="images/contactUsImages/contact_1.png" /></div>
				</div>
				<div id="container_two" class="clearfloat">
					<div id="allmap">

					</div>
					<div>
						<div id="">
							<p>公交车</p>
							<p>站台:丽都酒店</p>
							<p>线路:37路 83路 m360路</p>
							<p>14路 79路 81路</p>
						</div>
						
						<div>
							<p>地铁</p>
							<p>站台:国贸大厦</p>
							<p>线路:地铁一号线(B出口人民公园)</p>
							<p>咨询电话:400-800-9385</p>
						</div>
					</div>
				</div>
				<div id="container_three">
					<div><img src="images/contactUsImages/contact_2.png" /></div>
				</div>
				<div id="container_four" class="clearfloat">
					<div>
						<div><img src="images/contactUsImages/address.png" /></div>
						<p>公司地址</p>
						<p>郑州市中原区中原路</p>
						<p>邮编:450000</p>
					</div>
					<div>
						<div><img src="images/contactUsImages/tel.png" alt="" /></div>
						<p>联系方式</p>
						<p>电话:0379-8268 9595</p>
						<p>传真:0379-8369 6336</p>
					</div>
					<div>
						<div><img src="images/contactUsImages/qq.png" alt="" /></div>
						<p>联系QQ</p>
						<p>客服隼:1452897977</p>
						<p>客服婷:1562910388</p>
					</div>
				</div>
				<div id="container_five">
					<div>Drop a line when you have a minute and let me know what's up.</div>
				</div>
				<div class="clearfloat" id="container_six">
					<div id="listLeft">
						<div>
							<label for="">姓名。</label><span>(可匿名)</span><br />
							<input type="text" placeholder="您贵姓？"/>
						</div>
						<div>
							<label for="">电子邮件地址联系。</label><span>(必填)</span><br />
							<input type="text" placeholder="您的邮箱？"/>
						</div>
						<div>
							<label for="">在这里输入您的消息的主题。</label><br />
							<input type="text" placeholder="为您的意见起一个好的主题吧"/>
						</div>
					</div>
					<div id="listRight">
						<label for="">请输入您的宝贵意见</label><br />
						<textarea name="" rows="15" cols="80"></textarea><br />
						<button>现在寄给我们</button>
					</div>
				</div>
			</section>
		</article>


<script src="js/contactUs.js" type="text/javascript" charset="utf-8"></script>