<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>晚餐</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/dinner.css" />
		<script src="js/jquery-1.11.0.js"></script>
	</head>

	<body>
		<div class="d_header" id="d_header">
			<div>
				<div>
					<h3>豪爽又暖身的<br />“大丈夫”料理 大德酒场双人餐</h3>
					<p>用半个小时的耐心换整条活杀烤鳗，独享6.4折</p>
					<br />
					<br />
					<div>
						<a href="/DetailPages/detailpg/shop1_1"  id="dinner_ckxq">查看详情</a>
					</div>
				</div>

			</div>
		</div>
		<div class="d_section">
			<div class="aa d_section1">
				<img src="images/dinnerImages/dinner_2.png" alt="" />
				<div class="bb">
					<table>
						<tr>
							<td><i>Info:&nbsp;&nbsp;&nbsp;&nbsp;</i></td>
							<td>蜜汁酱鸭</td>
						</tr>
						<tr><td><i>Spcl:</i></td>
							<td>鲜香浓郁 好吃过瘾</td>
							
						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>15552728912</td>
						</tr>
						<tr><td><i>From:</i></td>
							<td>郑州市金水区未来路</td>
							
						</tr>
						<tr>
							<td></td>
							<td id="d_look"><a href="/dinner/merShop" style="font-size: 20px;">去看看&nbsp;&nbsp;></a></td>
						</tr>
					</table>
				</div>

			</div>

			<div class="aa d_section2 clearfloat">
				<img src="images/dinnerImages/dinner_5.jpg" alt="" />
				<div class="bb">
					<table class="d_section2_bc">
						<tr>
							<td><i>Info:</i></td>
							<td>&nbsp;&nbsp;&nbsp;五谷丰登</td>
						</tr>
						<tr>
							<td><i>Special:</i></td>
							<td>&nbsp;&nbsp;&nbsp;精工细作 口味正宗</td>
						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>&nbsp;&nbsp;&nbsp;轻松愉快 回归传统</td>
						</tr>
						<tr>
							<td><i>From:</i></td>
							<td>&nbsp;&nbsp;&nbsp;郑州市荥阳市意墅蓝山</td>
						</tr>
						<tr>
							<td></td>
							<td class="d_look"><a href="/dinner/merShop2" style="font-size: 20px;">去看看&nbsp;&nbsp;></a></td>
						</tr>
					</table>
				</div>

			</div>
			<div class="aa d_section3">
				<img src="images/dinnerImages/dinner_7.png" alt="" />
				<div class="bb">
					<table>
						<tr>
							<td><i>Info:&nbsp;&nbsp;&nbsp;&nbsp;</i></td>
							<td>&nbsp;&nbsp;&nbsp;意式鱿鱼</td>
						</tr>
						<tr>
							<td><i>Spcl:</i></td>
							<td>&nbsp;&nbsp;&nbsp;味蕾盛宴 回味无穷</td>
						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>&nbsp;&nbsp;&nbsp;温文尔雅 享受生活</td>
						</tr>
						<tr>
							<td><i>From:</i></td>
							<td>&nbsp;&nbsp;&nbsp;郑州市金水区金水路86号</td>
						</tr>
						<tr>
							<td></td>
							<td class="d_look"><a href="/dinner/merShop3" style="font-size: 20px;">去看看&nbsp;&nbsp;></a></td>
						</tr>
					</table>
				</div>

			</div>

			<div class="aa d_section4 clearfloat">
				<div class="bb">
					<h3>北欧风里的健康饮食 奈秋双人餐<i class="i1"></i><i class="i2"></i></h3>
					<p>合理搭配无麸质的饮食方案，让你健康吃肉</p>
					<p>北欧风里的健康饮食 以自然之力拒绝</p>
					<p>慢性危机同步欧洲思潮，提倡无麸</p>
					<p>质饮食潮流，南亚与欧洲风味并蓄 融合多方好味<i class="i3"></i></p>
					<div class="d_border">
						<a href="/DetailPages/detailpg/shop1_15" id="dinner_ckxq">查看详情</a>
					</div><i class="i4"></i>
					<a href="/dinner/merShop">更多></a>

				</div>
			</div>

		</div>

	</body>

</html>
<script src="js/dinner.js"></script>
<script type="text/javascript">
	
</script>