<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--build:css css/common.min.css-->
		<link rel="stylesheet" href="/css/HFcss/basic-styles.css">
		<!--endbuild-->
		<!--build:css css/okayNav.min.css-->
		<link rel="stylesheet" href="/css/HFcss/okayNav-base.css">
		<link rel="stylesheet" href="/css/HFcss/okayNav-theme.css">
		<link rel="stylesheet" href="/css/HFcss/header.css">
		<link rel="stylesheet" type="text/css" href="/css/common.css" />

		<link rel="stylesheet" type="text/css" href="/css/jquery.fullpage.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/carousel2.css" />

		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<!--轮播图-->

		<!--endbuild-->
	</head>

	<body>
		<!--header和class保留一个即可-->

		<header id="header" class="okayNav-header">
			<a class="okayNav-header__logo" id="h_logo">
				<div id="header_left">
					<a href="#page1"><img src="images/HFimg/icon1.png" alt="" /></a>
					<a id="header_dw" href="#">郑州<b id="header_ang"></b></a>
					<div></div>

				</div>

			</a>

			<nav role="navigation" id="nav-main" class="okayNav">
				<ul>
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="/lunch">午餐</a>
					</li>
					<li>
						<a href="/dinner">晚餐</a>
					</li>
					<li>
						<a href="/tea">下午茶</a>
					</li>
					<li>
						<a href="/my.html" id="mytitle">我的</a>
					</li>
					<li>
						<a href="/download">下载应用</a>
					</li>
					<li>
						<a href="/aboutus">关于我们</a>
					</li>
					<li>
						<a href="/contactus">联系我们</a>

					</li>

					<li id="h_last">
						<a href="/login" target="_blank" id="dltitle">登录/注册</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- /header -->

		<div id="fullpage">
			<div class="section section1">
				<!--铲子-->
				<div class="section1_img1"><img src="images/indexImg/index_can.png" /></div>
				<!--草-->
				<div class="section1_img2"><img src="images/indexImg/indexicon3.png" /></div>
				<!--锅-->
				<div class="section1_img3">
					<div id="section1_img3">
						<img class=" s_i_1" src="images/indexImg/index_guo.png" />
						<img class="stus s_i_2" src="images/indexImg/indexmogu1.png" alt="" />
						<img class="stus s_i_3" src="images/indexImg/indexmogu2.png" alt="" />
						<img class="stus s_i_4" src="images/indexImg/indexrou.png" alt="" />
					</div>

				</div>
				<!--瓶子-->
				<div class="section1_img4"><img src="images/indexImg/indexicon5.png" /></div>
				<!--起瓶器-->
				<div class="section1_img5"><img src="images/indexImg/indexicon4.png" /></div>
				<!--纱-->
				<div class="section1_img6"><img src="images/indexImg/indexicon6.png" /></div>
				<div class="section1_img7"><img src="images/indexImg/indexicon6.png" /></div>

				<div class="section1_img8">
					<h1>挑逗你的味蕾</h1>
					<div>
						<h3>恍若置身伦敦吃一餐正宗英式 </h3>
						<h3>Glo London 精致双人餐</h3>

					</div>

				</div>
				<!--子-->
				<div class="section1_img9">
					<img src="images/indexImg/index_wz.png" alt="" />
				</div>

			</div>
			<div class="section section2">
				<h1>今日精选</h1>
				<div class="slide slide1">
					<div class="slide1_1">
						<b></b>
						<h3>东北原始烤肉工具</h3>
						<h3>秘制蘸酱尝地道老东北风味</h3>
						<h3>老板亲自手绘涂鸦墙面</h3>
						<h3>所有羊牛肉皆从呼伦贝尔额尔古空运至此</h3>
						<b></b>
						<h5>延吉烤肉 原始泥炉烤肉双人餐</h5>
					</div>
					<div class="slide1_2">
						<img src="images/indexImg/indexpic1.jpg" alt="" />
						<div class="slide1_2_we">
							<img src="images/indexImg/index_wzicon.png" alt="" />
							<h2>亲密爱侣不二之选</h2>
							<a href="/DetailPages/detailpg/shop1_4"><button>查看详情</button></a>

						</div>

					</div>

				</div>
				<div class="slide slide1">
					<div class="slide1_1">
						<b></b>
						<h3>东北原始烤肉工具</h3>
						<h3>秘制蘸酱尝地道老东北风味</h3>
						<h3>老板亲自手绘涂鸦墙面</h3>
						<h3>所有羊牛肉皆从呼伦贝尔额尔古空运至此</h3>
						<b></b>
						<h5>延吉烤肉 原始泥炉烤肉双人餐</h5>
					</div>
					<div class="slide1_2">
						<img src="images/indexImg/indexpic2.jpg" alt="" />
						<div class="slide1_2_we">
							<img src="images/indexImg/index_wzicon.png" alt="" />
							<h2>亲密爱侣不二之选</h2>
							<a href="/DetailPages/detailpg/shop1_1"><button>查看详情</button></a>

						</div>

					</div>
				</div>
				<div class="slide slide1">
					<div class="slide1_1">
						<b></b>
						<h3>东北原始烤肉工具</h3>
						<h3>秘制蘸酱尝地道老东北风味</h3>
						<h3>老板亲自手绘涂鸦墙面</h3>
						<h3>所有羊牛肉皆从呼伦贝尔额尔古空运至此</h3>
						<b></b>
						<h5>延吉烤肉 原始泥炉烤肉双人餐</h5>
					</div>
					<div class="slide1_2">
						<img src="images/indexImg/indexpic3.jpg" alt="" />
						<div class="slide1_2_we">
							<img src="images/indexImg/index_wzicon.png" alt="" />
							<h2>亲密爱侣不二之选</h2>
							<a href="/DetailPages/detailpg/shop1_6"><button>查看详情</button></a>

						</div>

					</div>
				</div>

			</div>
			<div class="section section1_3">
				<div class="slide">
					<div class="sec3_1 clearfloat">
						<img src="images/indexImg/indexti2.png" alt="" />
						<div class="sec3_1_1">
							<img src="images/indexImg/indexpic4.png" alt="" />
							<div>
								<h3>以怀石料理诚意打造</h3>
								<h3>和心庭日本料理单人午餐</h3>
								<h4>和心庭日本料理</h4>
							</div>

						</div>
						<div class="sec3_1_2" id="sec3_1_2">

							<a href="/DetailPages/detailpg/shop1_4" class="sec3_1_2" id="sec3_1_21">
								<img src="images/indexImg/indese3_1.jpg" alt="" />
								<h3>海鲜饭 植藤单人</h3>
								<h3>日式午餐</h3>
								<h4>植藤</h4>
							</a>
							<a href="/DetailPages/detailpg/shop1_10" class="sec3_1_3" id="sec3_1_22">
								<img src="images/indexImg/indese3_2.jpg" alt="" />
								<h3>星级酒店里的平价泰</h3>
								<h3>式美味 精致双人餐</h3>
								<h4>桥餐厅</h4>
							</a>
							<a href="/DetailPages/detailpg/shop1_14" class="sec3_1_4" id="sec3_1_23">
								<img src="images/indexImg/indese3_3.jpg" alt="" />
								<h3>轻食料理 L'S Cafe </h3>
								<h3>全天单人餐</h3>
								<h4>L's Cafe轻食店</h4>
							</a>

						</div>

					</div>

				</div>
				<div class="slide">
					<div class="sec3_2">
						<div class="sec3_2_1"><img src="images/indexImg/indexicon12.png" /></div>
						<div class="sec3_2_2"><img src="images/indexImg/indexicon11.png" /></div>
						<div class="sec3_2_3"><img src="images/indexImg/indexicon15.png" /></div>
						<div class="sec3_2_4"><img src="images/indexImg/indexicon6.png" /></div>
						<div class="sec3_2_5"><img src="images/indexImg/indexicon6.png" /></div>
						<div class="sec3_2_6"><img src="images/indexImg/indexicon13.png" /></div>
						<div class="sec3_2_7"><img src="images/indexImg/indexicon14.png" /></div>
						<div class="sec3_2_8">
							<h1>闹中取静的世外桃源将</h1>
							<h1>正宗英式下午茶一一呈现</h1>
							<b></b>
							<a href="/DetailPages/detailpg/shop1_1"><button>查看详情</button></a>

						</div>

					</div>

				</div>

			</div>
			<div class="section section_4">
				<img src="images/indexImg/indeathome.png" alt="" />

				<div class="pic" id="picID">

					<span class="prev"></span>
					<span class="next"></span>
					<ul>

						<li class="pic2">
							<a href="/dinner/merShop"><img src="images/dressImages/cs1.jpg" alt="旋转木马" /></a>
						</li>
						<li class="pic3">
							<a href="/dinner/merShop"><img src="images/dressImages/cs2.jpg" alt="旋转木马" /></a>
						</li>
						<li class="pic4">
							<a href="/dinner/merShop"><img src="images/dressImages/cs3.jpg" alt="旋转木马" /></a>
						</li>
						<li class="pic5">
							<a href="/dinner/merShop"><img src="images/dressImages/cs4.jpg" alt="旋转木马" /></a>
						</li>
						<li class="pic6">
							<a href="/dinner/merShop"><img src="images/dressImages/cs5.jpg" alt="旋转木马" /></a>
						</li>

					</ul>
				</div>

				<div id="person_dli">

					<h1>预订您的私人厨师</h1>
					<ul>
						<li>私人厨师，是为他人设计并制作饭菜，营养配餐</li>
						<li>一般是在正常时间，一个优秀的厨师被客户请到家里，进行烹调和食品加工服务</li>
						<li>除此以外，并能按照客户的要求筹备一个星期或两个星期的晚餐，日后客户重新加热食用</li>
					</ul>
					<a href="/dinner/merShop"><button class="btn_active">现在预订</button></a>

				</div>

				<footer>
					<div class="footer">
						<div class="footer_left">
							<div>
								<h2>关于我们：</h2>
								<h3>公司名称：郑州delicous有限公司</h3>
								<h3>地址：郑州中原区伊河路与桐柏路交叉口</h3>
								<h3>市场合作：**科技有限公司</h3>

							</div>
							<b></b>
							<div>
								<h2 id="footer_left_lx">关于我们：</h2>

								<h3>豫ICP备12040847</h3>
								<h3>豫公网安备41070202020130</h3>
								<h3>豫ICP证050031</h3>

							</div>

						</div>

						<div class="foote_right">
							<img src="images/HFimg/footer_1.png" />

						</div>

					</div>

				</footer>

			</div>

		</div>
	</body>

</html>
<script src="/js/jquery-1.11.0.js"></script>
<!--build:js js/jquery.okayNav-min.js -->
<script src="/js/jquery.okayNav.js"></script>
<script src="/js/jquery.fullpage.min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="js/jquery.easing.min.js"></script>-->
<script src="/js/jquery.nGyroParallax.min.sourcemap.js"></script>
<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$.get('/deliuser/islog', function(result) {
		console.log(result)
		if(result.islog) {

			$('#dltitle').hide()
			$('#mytitle').show()
		} else {
			$('#dltitle').show()
			$('#mytitle').hide()
		}
	})
</script>