<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/Lunch.css" />
<script src="/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>

<nav id="lunch_nav">
	<div id="shadow_eerie" style="display: none;">

	</div>
	<div id="nav_message" style="display: none;">
		<div id="nav_briefing">
			<p>来 Glo London</p>
			<p>吃一餐正宗英式Brunch</p>
			<p>细节处皆是"伦敦"最完美英式Brunch</p>
			<a href="/DetailPages/detailpg/shop1_10" id="ckxquy">查看详情</a>
		</div>
	</div>
</nav>
<article>
	<section>
		<div id="delicacy_one">
			<div id="delicacy_one_cateone">
				<div>
					<!--<p>THE DELICOUS</p>-->
					<p><img src="images/lunchImages/lunch_15.png" /></p>
					<b></b>
					<b></b>
				</div>
				<div id="delicacy_one_catetwo">
					<div class="delicacy_cateone">
						<table>
							<tr>
								<td><i>Info:</i></td>
								<td>唯美意面</td>
							</tr>
							<tr>
								<td><i>Spcl:</i></td>
								<td>味道香浓 汁液饱满</td>

							</tr>
							<tr>
								<td><i>Dial:</i></td>
								<td>15553253412</td>
							</tr>
							<tr>
								<td><i>From:</i></td>
								<td>&nbsp;&nbsp;&nbsp;纬五路未来路交叉口向西</td>

							</tr>
							<tr>
								<td></td>
								<td id="d_look">
									<a href="/dinner/merShop" style="font-size: 20px;">去看看&nbsp;&nbsp;></a>
								</td>
							</tr>
						</table>
					</div>
					<div class="delicacy_catetwo">
						<img src="images/lunchImages/lunch_5.jpg" alt="" />
					</div>
					<div class="delicacy_catethree">
						<img src="images/lunchImages/lunch_2.jpg" />
					</div>
					<div class="delicacy_catefour">

						<table>
							<tr>
								<td><i>Info:</i></td>
								<td>黑牛时代烤肉</td>
							</tr>
							<tr>
								<td><i>Spcl:</i></td>
								<td>醇浓绵后,娇嫩化口</td>

							</tr>
							<tr>
								<td><i>Dial:</i></td>
								<td>15553253412</td>
							</tr>
							<tr>
								<td><i>From:</i></td>
								<td>&nbsp;&nbsp;&nbsp;二七路与太康路交叉口大上海城4楼</td>

							</tr>
							<tr>
								<td></td>
								<td id="d_look">
									<a href="/dinner/merShop2" style="font-size: 20px;">去看看&nbsp;&nbsp;></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="delicacy_two">
			<div id="delicacy_two_cateone">
				<div>
					<div>
						<!--<p>THE DELICOUS</p>-->
						<p><img src="images/lunchImages/lunch_16.png" /></p>
						<b></b>
						<b></b>
					</div>
				</div>
				<div id="delicacy_two_catetwo">
					<div style="display: none;">
						<p>Salad Nest轻食</p>
						<p>每一餐的卡路里都控制在200～500cal</p>
						<p>所有酱料都由厨师自创手工调制,满足低脂高营养的需求</p>
						<div>
							<a href="/DetailPages/detailpg/shop1_5" id="ckxquy">查看详情</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="delicacy_three">
			<div id="delicacy_three_cateone" class="clearfloat">
				<div class="delicacy_catefive">
					<div>
						<img src="images/lunchImages/lunch_9.jpg" />
					</div>
				</div>
				<div class="delicacy_catesix">
					<div>
						<img src="images/lunchImages/lunch_8.jpg" />
					</div>
				</div>
				<div class="delicacy_cateseven">
					<div>
						<b></b>
						<p>Food</p>
					</div>
				</div>
				<div class="delicacy_cateeight">
					<br />
					<table>
						<tr>
							<td><i>Info:</i></td>
							<td>卡普里</td>
						</tr>
						<tr>
							<td><i>Spcl:</i></td>
							<td>高贵典雅 美食天堂</td>

						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>15552728912</td>
						</tr>
						<tr>
							<td><i>From:</i></td>
							<td>郑州市郑东新区大学城</td>

						</tr>
						<tr>
							<td></td>
							<td id="d_look">
								<a href="/dinner/merShop3" style="font-size: 20px;">去看看&nbsp;&nbsp;></a>
							</td>
						</tr>
					</table>

					<div class="clearfloat">
						<b></b>
						<div>
							<a style="display: none;">
								<</a>
									<span>1</span>
									<span>/</span>
									<span>3</span>
									<a id="search_one">></a>
						</div>
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_7.jpg" />
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_6.jpg" />
					</div>
				</div>
			</div>
			<div id="delicacy_three_catetwo" class="clearfloat">
				<div class="delicacy_catefive">
					<div>
						<img src="images/lunchImages/lunch_17.jpg" />
					</div>
				</div>
				<div class="delicacy_catesix">
					<div>
						<img src="images/lunchImages/lunch_18.jpg" />
					</div>
				</div>
				<div class="delicacy_cateseven">
					<div>
						<b></b>
						<p>Food</p>
					</div>
				</div>
				<div class="delicacy_cateeight">
					<br />
					<table>
						<tr>
							<td><i>Info:</i></td>
							<td>海底捞</td>
						</tr>
						<tr>
							<td><i>Spcl:</i></td>
							<td>味道地道 特色突出</td>

						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>15552728912</td>
						</tr>
						<tr>
							<td><i>From:</i></td>
							<td>郑州四店 瑞贝卡大酒店</td>

						</tr>
						<tr>
							<td></td>
							<td id="d_look">
								<a href="/dinner/merShop3" style="font-size: 20px;">去看看&nbsp;&nbsp;></a>
							</td>
						</tr>
					</table>

					<div class="clearfloat">
						<b></b>
						<div>
							<a id="search_two">
								<</a>
									<span>2</span>
									<span>/</span>
									<span>3</span>
									<a id="search_three">></a>
						</div>
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_19.jpg" />
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_20.jpg" />
					</div>
				</div>
			</div>
			<div id="delicacy_three_catethree" class="clearfloat">
				<div class="delicacy_catefive">
					<div>
						<img src="images/lunchImages/lunch_21.jpg" />
					</div>
				</div>
				<div class="delicacy_catesix">
					<div>
						<img src="images/lunchImages/lunch_26.jpg" />
					</div>
				</div>
				<div class="delicacy_cateseven">
					<div>
						<b></b>
						<p>Food</p>
					</div>
				</div>
				<div class="delicacy_cateeight">
					<br />
					<table>
						<tr>
							<td><i>Info:</i></td>
							<td>LIKE披萨</td>
						</tr>
						<tr>
							<td><i>Spcl:</i></td>
							<td>金黄香脆 丰富馅料</td>
						</tr>
						<tr>
							<td><i>Dial:</i></td>
							<td>15552728912</td>
						</tr>
						<tr>
							<td><i>From:</i></td>
							<td>金水区金水路与未来路向北300米</td>
						</tr>
						<tr>
							<td></td>
							<td id="d_look">
								<a href="/dinner/merShop3" style="font-size: 20px;">去看看&nbsp;&nbsp;></a>
							</td>
						</tr>
					</table>

					<div class="clearfloat">
						<b></b>
						<div>
							<a id="search_four">
								<</a>
									<span>3</span>
									<span>/</span>
									<span>3</span>
									<a style="display: none;">></a>
						</div>
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_23.jpg" />
					</div>
				</div>
				<div class="">
					<div>
						<img src="images/lunchImages/lunch_25.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="delicacy_four">
			<div id="delicacy_four_cateone">
				<div class="delicacy_catenone">
					<img src="images/lunchImages/lunch_10.png" />
				</div>
				<div class="delicacy_catenten">
					<p>江户鱼米</p>
					<p>从牛肉、到纯手作鱼米到</p>
					<p>日式点心50多种品类畅吃江户</p>
					<p>鱼米(新林店)日式寿</p>
					<p>喜锅双人自助</p>
					<a href="/DetailPages/detailpg/shop1_8" id="ckxquy">查看详情</a>
				</div>
			</div>
		</div>
	</section>
</article>

<script src="/js/Lunch.js" type="text/javascript" charset="utf-8"></script>