<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/merShop.css" />
<style type="text/css">

</style>
<div class="merShop1_box">

	<div class="merShop1_main">

		<img src="/images/dinnerimages/shopSJ3.jpg" alt="" />

	</div>

	<div class="merShop1_atrcel clearfloat">
		<div class="merShop1_nav">
			<img src="/images/merShopimg/ydgm.png" alt="" />

			<div class="merShop1_nav0 clearfloat">
				<ul class="clearfloat">
					<li>
						<a id="merShop1_nav_dp">店铺详情</a>
					</li>
					<li>
						<a class="activeDPxq" id="merShop1_nav_cd">菜单</a>
					</li>
					<li>
						<a id="merShop1_nav_sr">私人厨师</a>
					</li>
					<li>
						<a id="merShop1_nav_jd" href="/vr/vr3.html" target="_blank">进店逛逛(vr)</a>
					</li>
				</ul>
			</div>
			<!--店铺详情-->
			<div class="merShop1_atrcel2">
				<h1>漫族年代秀</h1>
				<b></b>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容易感慨，容易回忆是每个有经历的人的‘通病’，而年代这个字眼更会让你心潮澎湃。欧式的桌椅、loft吊灯、loft书架以及身穿民国校服的服务生，混搭元素绝非一两个。店内的伞状柱子，原来是个‘火炉’。</span><br />
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大烤鱿鱼、黑胡椒文蛤煲、锦衣卫、漫族爆竹串串虾等餐厅特色菜式，值得一尝。</span><br />
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州漫族年代秀餐饮，口味与环境两者兼有。免费停车,味道一绝,是家人和朋友聚会的好去处。更有团购享受无敌折扣，比优惠券划算！也许当下你想逃离雾都、而远离喧闹，想有家的味道；想摆脱世俗、挣开束缚，想过自己想要的理想生活。那么邀约亲人、朋友们一起小聚，去暂时放下一切世间的烦扰吧！</span>
				<div>
					<h3>营业时间：上午11：00 ~ 下午 10：00</h3>
					<h2>预订电话： 0371 6561 5977</h2>
				</div>

			</div>
			<!--菜单-->
			<div class="merShop1_atrcel3">
				<h1>我们的菜单</h1>
				<span>中西结合，实属经典绝伦。褪去疲态，迎接崭新心情；尽情畅饮，与亲朋同醉。<br />人生得意须尽欢，莫使金樽空对月。给自己一个舒适的生活方式！</span>
				<div class="merShop1_atrcel3_menu">
					<a id="seach_wc">午餐</a>
					<a id="seach_wco">晚餐</a>
					<a id="seach_xwc">下午茶</a>
					<a id="seach_pc">品尝</a>

				</div>
				<div id="merShop1_atrcel3_pc">

					<h1>品尝菜单</h1>
					<b></b>
					<p>法国家庭料理,<br />享受优雅,<br />体会法国人的浪漫</p>
					<p>碳匠炉端烧,<br />在这个冬日给予你绵柔的温暖,<br />舒适的口感</p>
					<p>轻食点心沙拉,<br />健康养生，滋润肠胃,<br />给你的肠胃来一次保护大旅行</p>
					<b></b>
					<h3>品尝菜单可用 </h3>
					<h4>12点-下午6点30分和9点</h4>

				</div>
				<section class="merShop1_atrcel3_se1 clearfloat">
					<h1>午餐</h1>
					<div class="merShop1_atrcel3_se1_1">
						<a href="/DetailPages/detailpg/shop1_1">
							<img src="/images/merShopimg/m_11.jpeg" alt="" />
							<div>
								<p>咖啡丰富轻食</p>
								<h5>西餐酒吧综合体</h5>
								<h5>供应充足</h5>
								<h3>52元/位</h3>

							</div>

						</a>
						<a href="/DetailPages/detailpg/shop1_2">
							<img src="/images/merShopimg/m_12.jpeg" alt="" />
							<div>
								<p>慢烤牛排搭烤羊</p>
								<h5>新鲜有机健康</h5>
								<h5>供应充足</h5>
								<h3>214.8元/2位</h3>

							</div>
						</a>
						<a href="/DetailPages/detailpg/shop1_3">
							<img src="/images/merShopimg/m_13.jpeg" alt="" />
							<div>
								<p>意式龙虾刺身</p>
								<h5>Corso Como</h5>
								<h5>已售完</h5>
								<h3>688元/位</h3>

							</div>
						</a>
					</div>
					<div class="merShop1_atrcel3_se1_1">
						<a href="/DetailPages/detailpg/shop1_4">
							<img src="/images/merShopimg/m_14.jpeg" alt="" />
							<div>
								<p>泰式酸辣餐</p>
								<h5>ENJOY泰式佳肴</h5>
								<h5>供应充足</h5>
								<h3>188元/2位</h3>

							</div>

						</a>
						<a href="/DetailPages/detailpg/shop1_5">
							<img src="/images/merShopimg/m_15.jpeg" alt="" />
							<div>
								<p>雪龙和牛的契合</p>
								<h5>一餐享顶级食材</h5>
								<h5>供应充足</h5>
								<h3>450元/位</h3>

							</div>
						</a>
						<a href="/DetailPages/detailpg/shop1_6">
							<img src="/images/merShopimg/m_16.jpeg" alt="" />
							<div>
								<p>法国家庭料理</p>
								<h5>外交人士的私家厨房</h5>
								<h5>供应充足</h5>
								<h3>138元/位</h3>

							</div>
						</a>
					</div>

				</section>
				<!--晚餐-->
				<section class="merShop1_atrcel3_se1" id="merShop1_atrcel3_se2">
					<h1>晚餐</h1>
					<div class="merShop1_atrcel3_se1_1">
						<a href="/DetailPages/detailpg/shop1_7">
							<img src="/images/merShopimg/m_21.jpeg" alt="" />
							<div>
								<p>汤酸柔嫩苗家香</p>
								<h5>初秋滋补养颜</h5>
								<h5>供应充足</h5>
								<h3>215元/位</h3>

							</div>

						</a>
						<a href="/DetailPages/detailpg/shop1_8">
							<img src="/images/merShopimg/m_22.jpeg" alt="" />
							<div>
								<p>肉入魂 · 烧肉丼饭</p>
								<h5>新店首发抢先尝</h5>
								<h5>供应充足</h5>
								<h3>78元/位</h3>

							</div>
						</a>
						<a href="/DetailPages/detailpg/shop1_9">
							<img src="/images/merShopimg/m_23.jpeg" alt="" />
							<div>
								<p>定食与甜品超值组合</p>
								<h5>周一至周日通用</h5>
								<h5>供应充足</h5>
								<h3>45元/位</h3>

							</div>
						</a>
					</div>
					<div class="merShop1_atrcel3_se1_1">
						<a href="/DetailPages/detailpg/shop1_10">
							<img src="/images/merShopimg/m_24.jpeg" alt="" />
							<div>
								<p>碳匠炉端烧</p>
								<h5>御寒大比拼</h5>
								<h5>供应充足</h5>
								<h3>238元/2位</h3>

							</div>

						</a>
						<a href="/DetailPages/detailpg/shop1_11">
							<img src="/images/merShopimg/m_25.jpeg" alt="" />
							<div>
								<p>隐秘至尊美食旅</p>
								<h5>限时抢购</h5>
								<h5>供应充足</h5>
								<h3>358元/位</h3>

							</div>
						</a>
						<a href="/DetailPages/detailpg/shop1_12">
							<img src="/images/merShopimg/m_26.jpeg" alt="" />
							<div>
								<p>土豆烧鸡块</p>
								<h5>自制料酒烧制</h5>
								<h5>供应充足</h5>
								<h3>40元/位</h3>

							</div>
						</a>
					</div>

				</section>

				<!--下午茶-->
				<section class="merShop1_atrcel3_se1" id="merShop1_atrcel3_se3">
					<h1>下午茶</h1>
					<div class="merShop1_atrcel3_se1_1">
						<a href="/DetailPages/detailpg/shop1_13">
							<img src="/images/merShopimg/m_31.jpeg" alt="" />
							<div>
								<p>美味靠谱披萨</p>
								<h5>更有赠送甜品</h5>
								<h5>供应充足</h5>
								<h3>55元/位</h3>

							</div>

						</a>
						<a href="/DetailPages/detailpg/shop1_14">
							<img src="/images/merShopimg/m_32.jpeg" alt="" />
							<div>
								<p>轻食单人沙拉</p>
								<h5>独享手工曲奇</h5>
								<h5>供应充足</h5>
								<h3>109元/位</h3>

							</div>
						</a>
						<a href="/DetailPages/detailpg/shop1_15">
							<img src="/images/merShopimg/m_33.jpeg" alt="" />
							<div>
								<p>精巧点心胃口开</p>
								<h5>畅享星级美点</h5>
								<h5>供应充足</h5>
								<h3>106元/位</h3>

							</div>
						</a>
					</div>

				</section>

			</div>
			<!--私人厨师-->
			<div class="merShop1_atrcel4">
				<div class="merShop1_atrcel4_1 clearfloat">
					<ul>
						<li>
							<img src="/images/merShopimg/srcs1.png" />
							<a onclick=" spfunn()">立即预订</a>
							<h1>聚会就餐</h1>
							<p>美食交由私人厨师在家中做好，方便、安全、时尚</p>
						</li>
						<li>
							<img src="/images/merShopimg/srcs2.png" />
							<a onclick=" spfunn()">立即预订</a>
							<h1>繁忙工作</h1>
							<p>繁忙的白领一族，好厨师能帮到你，每天为您贴心服务</p>
						</li>
						<li>
							<img src="/images/merShopimg/srcs3.png" />
							<a onclick=" spfunn()">立即预订</a>
							<h1>中老年人</h1>
							<p>逐步进入老龄化社会，好厨师为更多中老年人服务</p>
						</li>
						<li>
							<img src="/images/merShopimg/srcs4.png" />
							<a onclick=" spfunn()">立即预订</a>
							<h1>时尚人士</h1>
							<p>长期聘请一位做饭合自己胃口的私人厨师，就在好厨师</p>
						</li>
					</ul>

				</div>

				<div class="merShop1_atrcel4_2 clearfloat">
					<ul>
						<li>
							<img src="/images/merShopimg/srcsyd1.png" alt="" />
							<h1>99元四菜一汤</h1>
							<h3>经济实惠、适合四人用餐</h3>
							<a onclick="spfunn()">在线预订</a>
						</li>
						<li>
							<img src="/images/merShopimg/srcsyd2.png" alt="" />
							<h1>139元六菜一汤</h1>
							<h3>家庭聚会、适合六人用餐</h3>
							<a onclick="spfunn()">在线预订</a>
						</li>
						<li>
							<img src="/images/merShopimg/srcsyd3.jpg" alt="" />
							<h1>489元十二菜两汤</h1>
							<h3>狂欢派对最佳，适合十二人至十四人用餐</h3>
							<a onclick="spfunn()">在线预订</a>
						</li>

					</ul>

				</div>
				<!--用户评价-->
				<div class="merShop1_atrcel4_3 clearfloat">
					<div class="merShop1_atrcel4_3_le">
						<img src="/images/merShopimg/srcs1pj.png" alt="" />
						<span>用户评价</span>

						<div>
							<img id="yhpjimg1" src="/images/merShopimg/srcs1pj1.jpg" alt="" />
							<img id="yhpjimg2" src="/images/merShopimg/srcs1pj2.jpg" alt="" />
						</div>

					</div>
					<div class="merShop1_atrcel4_3_ri">
						<marquee id="dashboard" scrollamount="6" direction="up">
							<p>
								<span>
									段** &nbsp;&nbsp;155****6108 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.4.10</b>
							</span>
								<br />
								<span class="dashboard_pj">非常好吃！色香味俱佳！</span>

							</p>
							<p>
								<span>
									郑** &nbsp;&nbsp;185****6217 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.4.11</b>
							</span>
								<br />
								<span class="dashboard_pj">下次带妈妈一起来！</span>

							</p>
							<p>
								<span>
									赵** &nbsp;&nbsp;187****4512 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.4.22</b>
							</span>
								<br />
								<span class="dashboard_pj">一次不错的美食体验！</span>

							</p>
							<p>
								<span>
									王** &nbsp;&nbsp;185****4673 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.4.27</b>
							</span>
								<br />
								<span class="dashboard_pj">环境挺优雅的，厨师挺有水平！</span>

							</p>
							<p>
								<span>
									章** &nbsp;&nbsp;155****7648 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								
								<b>2016.4.28</b>
							</span>
								<br />
								<span class="dashboard_pj">有点儿小贵啊！不过，挺好吃的！</span>

							</p>
							<p>
								<span>
									张** &nbsp;&nbsp;157****3838 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								
								<b>2016.5.4</b>
							</span>
								<br />
								<span class="dashboard_pj">等餐有点儿长！</span>

							</p>
							<p>
								<span>
									刘** &nbsp;&nbsp;135****0480 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.5.8</b>
							</span>
								<br />
								<span class="dashboard_pj">非常好吃！色香味俱佳！</span>

							</p>
							<p>
								<span>
									韩** &nbsp;&nbsp;185****2486 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								
								<b>2016.5.10</b>
							</span>
								<br />
								<span class="dashboard_pj">适合享受生活的人!</span>

							</p>
							<p>
								<span>
									张** &nbsp;&nbsp;155****5723 &nbsp;&nbsp;
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<img src="/images/merShopimg/icon1.png" alt="" />
								<b>2016.5.12</b>
							</span>
								<br />
								<span class="dashboard_pj">服务很到位！</span>

							</p>

						</marquee>

					</div>

				</div>
				<!--进店逛逛-->
				<div>

				</div>
			</div>

		</div>

	</div>

	<div class="merShop1_zxyd">
		<img src="/daoca22.png" onclick="hf_srcf()" alt="" />
		
		<!--选择套餐-->
		<div class="merShop1_zxyd_1 clearfloat">
			<div class="merShop1_zxyd_11 clearfloat">
				<b></b>
				<h1>选择套餐</h1>
				<span> ★ 必填</span>
			</div>
			<div class="merShop1_zxyd_120 clearfloat" id="merShop1_zxyd_11">
				<div class="merShop1_zxyd_12 btnAll1">
					<h1>119元<span>四菜一汤</span> </h1>
					<p>家庭聚会、适合四人用餐</p>
				</div>
				<div class="merShop1_zxyd_12 btnAll1">
					<h1>179元<span>六菜一汤</span> </h1>
					<p>家庭聚会、适合六人用餐</p>
				</div>
				<div class="merShop1_zxyd_12 btnAll1">
					<h1>639元<span>十二菜两汤</span> </h1>
					<p>狂欢派对，适合十二人用餐</p>
				</div>

			</div>

		</div>
		<!--食材-->
		<div class="merShop1_zxyd_1 clearfloat">
			<div class="merShop1_zxyd_11 clearfloat">
				<b></b>
				<h1>食     材</h1>
				<span> ★ 必填</span>
			</div>
			<div class="merShop1_zxyd_120 clearfloat" id="merShop1_zxyd_12">
				<div class="merShop1_zxyd_12 btnAll2">
					<h1>厨师代买食材</h1>
				</div>
				<div class="merShop1_zxyd_12 btnAll2">
					<h1>自备食材</h1>
				</div>
			</div>

		</div>
		<!--个人信息-->
		<div class="merShop1_zxyd_msg">
			<div class="merShop1_zxyd_msg0 clearfloat">
				<div class="merShop1_zxyd_11 clearfloat">
					<b></b>
					<h1>顾客姓名 </h1>
					<span> ★</span>
				</div>
				<div class="merShop1_zxyd_msg1">
					<input id="sr_gkxi" type="text" required placeholder="顾客姓名" onblur="doValid()" id="uname" />
					<span class="invalid">用户名必填</span>
				</div>
			</div>

			<div class="merShop1_zxyd_msg0 clearfloat">
				<div class="merShop1_zxyd_11 clearfloat">
					<b></b>
					<h1>手机号码</h1>
					<span> ★</span>
				</div>
				<div class="merShop1_zxyd_msg1">
					<input id="tel" type="tel" pattern="1[3,5,8]\d{9}" placeholder="手机号" onblur="doValid()" />
					<span class="invalid">请输入手机号</span>
				</div>
			</div>

		</div>
		<div class="merShop1_zxyd_msg2">
			<div class="merShop1_zxyd_11 clearfloat">
				<b></b>
				<h1>备注： </h1>
			</div>
			<div class="merShop1_textarea">
				<textarea  id="sr_bz" rows="6" cols="80" placeholder="如：人数、口味、做餐条件及其他要求。"></textarea>
			</div>
		</div>

		<button id="merShop1_btn">确认信息</button>

	</div>

</div>

<script src="/js/merShop.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$('#merShop1_btn').click(function() {
		var sr_gkxi = $('#sr_gkxi').val()
		var tel = $('#tel').val()
		var sr_bz = $('#sr_bz').val()


		$.get('/deliuser/islog', function(result) {
			console.log(result)
			if(result.islog) {
				if(sr_gkxi == '' || tel == '' || sr_bz == '') {
					alert('填写信息不全！')

				} else {
					console.log('进入！')
					localStorage.setItem('titlepay', '私人厨师套餐')
					localStorage.setItem('picepay', '199')
					location.href = "/payment"
					$('#dltitle').hide()
					$('#mytitle').show()
					$('#sr_gkxi').val('')
					$('#tel').val('')
					$('#sr_bz').val('')
				}

			} else {
				alert('请先登录！')
				location.href = "/login"
				$('#dltitle').show()
				$('#mytitle').hide()
			}
		})

	})

	function doValid() {
		if(uname.validity.valueMissing) {

			$('#uname').next().show()
		} else {
			$('#uname').next().hide()
		}

		if(tel.validity.patternMismatch) {
			$('#tel').next().show()
		} else {
			$('#tel').next().hide()
		}

	}

	$('.btnAll1').click(function() {
		$('#merShop1_zxyd_11>*').removeClass('merShop1_zxyd_122')
		$(this).addClass('merShop1_zxyd_122')
	})
	$('.btnAll2').click(function() {
		$('#merShop1_zxyd_12>*').removeClass('merShop1_zxyd_122')
		$(this).addClass('merShop1_zxyd_122')
	})

	function yhpjimg() {
		$('#yhpjimg1').fadeOut(500)
		$('#yhpjimg2').fadeOut(500)
	}
	var yhpjimgs = 1;
	setInterval(function() {
		yhpjimg()
		var yh = yhpjimgs++

			if(yh % 2 == 0) {

				$('#yhpjimg1').fadeIn(500)
			} else {
				$('#yhpjimg2').fadeIn(500)

			}

	}, 4000)
</script>
<script type="text/javascript">
	function initAll() {
		$('.merShop1_atrcel2').slideUp(500)
		$('.merShop1_atrcel3').slideUp(500)
		$('.merShop1_atrcel4').slideUp(500)
		$('.merShop1_nav0 a').removeClass('activeDPxq')
	}
	$('#merShop1_nav_dp').click(function() {
		initAll();
		$('.merShop1_atrcel2').slideDown(1000)
		$('.merShop1_box ').css('height', '1300')
		$('#merShop1_nav_dp ').addClass('activeDPxq')

	})
	initAll();
	$('.merShop1_atrcel3').slideDown(1000)
	$('.merShop1_box ').css('height', '3500')
	$('#merShop1_nav_cd ').addClass('activeDPxq')
	$('#merShop1_nav_cd').click(function() {
		initAll();
		$('.merShop1_atrcel3').slideDown(1000)
		$('.merShop1_box ').css('height', '3500')
		$('#merShop1_nav_cd ').addClass('activeDPxq')

	})
	$('#merShop1_nav_sr').click(function() {
		initAll();
		$('.merShop1_atrcel4').slideDown(1000)
		$('.merShop1_box ').css('height', '2300')
		$('#merShop1_nav_sr ').addClass('activeDPxq')

	})

	//
	$('#seach_wc').click(function() {

		$('html,body').animate({
			scrollTop: '920px'
		}, 800);
	})
	$('#seach_wco').click(function() {

		$('html,body').animate({
			scrollTop: '1790px'
		}, 800);
	})

	$('#seach_xwc').click(function() {

		$('html,body').animate({
			scrollTop: '2645px'
		}, 800);
	})
	$('#merShop1_atrcel3_pc').hide()
	$('#seach_pc').click(function() {
		$('#merShop1_atrcel3_pc').slideToggle(500)

	})

	$('.merShop1_atrcel3_se1').click(function() {

		$('#merShop1_atrcel3_pc').fadeOut(500)

	})
	$('.merShop1_atrcel3_se1').click(function() {

		$('#merShop1_atrcel3_pc').fadeOut(500)

	})
	$('.merShop1_atrcel3_se1').click(function() {

		$('#merShop1_atrcel3_pc').fadeOut(500)

	})

	function spfunn() {
		$('.merShop1_atrcel').fadeOut()
		$('html,body').animate({
			scrollTop: '0px'
		}, 500);
		$('.merShop1_zxyd').slideDown(1000)
		$('.merShop1_box ').css('height', '1350')
	}

	function hf_srcf() {
		$('.merShop1_atrcel').fadeIn()
		$('.merShop1_zxyd').slideUp(1000)
		initAll();
		$('.merShop1_atrcel4').slideDown(1000)
		$('.merShop1_box ').css('height', '2300')
		$('#merShop1_nav_sr ').addClass('activeDPxq')
	}
</script>